<div class='container'>
    <div>
        <div>
            <div>
                <div>
                    <app-day-radio [nameString]="name" [date]="date">
                    </app-day-radio>
                </div>
                <div>
                    <!-- <app-oglavlenie></app-oglavlenie> -->
                </div>
                <div>
                    <app-slider-with-four-blocks></app-slider-with-four-blocks>
                    <app-slider-with-one-block-center></app-slider-with-one-block-center>
                    <app-slider-with-three-center-blocks></app-slider-with-three-center-blocks>
                    <app-with-arrow-to-bottom></app-with-arrow-to-bottom>
                </div>
            </div>
        </div>
    </div>
</div>