.navbar {
    display: grid;
    grid-template-columns: 5fr 2fr 1fr auto;
}

.navbar div:last-child {
    padding: 0px 40px 0 40px;
}

.navbar div {
    border: 2px solid black;
    height: 100px;
    position: relative;
}

.navbar div:last-child p {
    text-transform: uppercase;
    font-size: 34px;
    text-align: center;
}

.navbar div:first-child img {
    position: absolute;
    left: 45px;
    top: 34px;
}

.navbar div:nth-child(2) img {
    padding-top: 10px;
    width: 83px;
    height: 83px;
}

.navbar div:nth-child(3) img {
    padding-top: 35px;
}