@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.component {
    font-family: 'Montserrat', sans-serif;
    background: #0C68B0;
    border-radius: 0 0 10px 10px;
    min-height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('../../assets/img/background.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 200%;
    z-index: 6;
}

.component img {
    padding-top: 72px;
}

.dayradio {
    margin-top: 140px;
}

.component .dayradio {
    text-transform: uppercase;
    text-align: center;
}

.component .dayradio p:first-child {
    font-size: 75px;
}

.component .dayradio p:last-child {
    font-size: 100px;
    margin-top: -80px;
    font-weight: bold;
}

.footer-p {
    margin-top: auto;
}

.footer-p p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
    display: inline-block;
}

.footer-p p:first-child {
    margin-left: 60px;
    float: left;
}

.footer-p p:last-child {
    margin-right: 150px;
}

@media screen and (max-width: 376px) {
    .component .dayradio p:first-child {
        font-size: 55px;
    }
    .component .dayradio p:last-child {
        font-size: 80px;
        margin-top: -80px;
        font-weight: bold;
    }
    .component {
        background-size: 280%;
    }
    .footer-p {
        display: flex;
        justify-content: space-around;
    }
    .footer-p p:first-child {
        margin-left: 0;
    }
    .footer-p p:last-child {
        margin-right: 0;
    }
}