<div class='component'>
    <div class='navbar'>
        <div><img src='assets/img/burger.svg'></div>
        <div><img src='assets/img/лого.png'></div>
        <div><img src='assets/img/search.svg'></div>
        <div>
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
    <div class='content'>
        <div class='container'>
            <h1>Lorem, ipsum dolor.</h1>
            <div class='container-main'>
                
            </div>
            <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ad sint, voluptate ab harum iste
                aspernatur voluptatibus atque explicabo quo a laboriosam autem nemo deleniti!
            </div>
        </div>
    </div>
</div>