<div class='header'></div>
<div class='component'>
    <div class='navbar'>
        <div><img src='../../assets/img/burger.svg'></div>
        <div><img src='../../assets/img/urfu-blue.svg'></div>
        <div><img src='../../assets/img/search.svg'></div>
        <div><p>когда отгремят салюты</p></div>
    </div>
    <div class='content'>
        <div class='container'>
            <div class='dayradio'>
               <h1>Когда отгремят салюты</h1> 
               <p>Яркие вспышки и фонтан огней фейерверков радуют нас и наполняют сердца восторгом. 
                   Салюты завораживают, поднимают настроение, заполняют всю нашу фотоплёнку. 
                   При этом почти никто не задумывался, как полчаса нашей радости отразятся на растениях, птицах, 
                   животных, насекомых.</p>
                <!-- <div class='author'>
                    <p>Автор: Анна Минеева</p>
                </div> -->
            </div>
            <div class='oglav'>
               
            </div>
        </div>
    </div>
</div>
