        .main {
            position: absolute;
            border: 1px solid #000;
            width: 800px;
            min-height: 540px;
            top: 50px;
            left: 350px;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }
        
        .articles {
            border: 2px solid red;
            padding: 10px;
            border-top: 0;
        }
        
        .articles__item {
            border: 3px solid rebeccapurple;
            padding: 10px;
            border-left: 0;
            border-right: 0;
            margin-bottom: 10px;
        }
        
        .more-articles {
            /* margin: 60px 0 15px 0; */
            width: 170px;
            /* border-radius: 10px; */
            text-align: center;
            font-size: 17px;
            padding: 4px;
            display: block;
            margin-top: 5px;
            box-sizing: border-box;
            height: 30px;
            background-color: #FF5454;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;
        }
        
        .more-pages {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 170px;
            /* border-radius: 10px; */
            text-align: center;
            font-size: 17px;
            padding: 4px;
            box-sizing: border-box;
            height: 30px;
            background-color: #744F99;
            color: #fff;
            cursor: pointer;
            font-family: 'Montserrat', sans-serif;
        }
        
        form p {
            font-family: 'Montserrat', sans-serif;
            position: absolute;
            top: 0;
            right: 30px;
        }
        
        .create {
            width: 100px;
            height: 30px;
            margin-bottom: 0;
            margin: auto;
            display: block;
            margin-top: 35px;
            width: 170px;
            border-radius: 10px;
            text-align: center;
            font-size: 17px;
            box-sizing: border-box;
            height: 30px;
            background-color: red;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            border: 0;
            outline: none;
            cursor: pointer;
        }
        
        label {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }
        
        input[type="text"] {
            font-family: 'Montserrat', sans-serif;
            border: 1px solid #000;
            outline: none;
            border-radius: 10px;
            height: 25px;
            padding-left: 5px;
            width: 200px;
            margin-bottom: 10px;
            margin-left: 15px;
        }
        
        input[type="file"] {
            outline: none;
        }
        
        .hide {
            position: absolute;
            overflow: hidden;
            z-index: -1;
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
        }
        
        .choose-picture {
            text-align: center;
            padding: 5px 10px 5px 10px;
            height: 25px;
            background: chartreuse;
            cursor: pointer;
        }
        
        .close {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 20px;
        }
        
        cdk-virtual-scroll-viewport {
            width: 800px;
            height: 540px;
        }
        
        @media screen and (max-width:376px) {
            .main {
                width: 320px;
                top: 5px;
                left: 7px;
                height: 100%;
            }
            cdk-virtual-scroll-viewport {
                width: 320px;
                height: 100%;
            }
            /* input[name="nameNewspaper"] {
                margin: 10px 0 10px 0;
            } */
            input[type="text"] {
                margin-left: 0px;
            }
            label {
                padding-right: 15px;
            }
        }