<div class='component'>
    <div class='navbar'>
        <div><img src='assets/img/burger.svg'></div>
        <div><img src='assets/img/лого.png'></div>
        <div><img src='assets/img/search.svg'></div>
        <div>
            <p>Lorem ipsum</p>
        </div>
    </div>
    <div class='content'>
        <div class='slide'>
            <div class='slide-container'>
                <div class='place-for-image'></div>
                <div class='text'>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem necessitatibus consequatur
                        ratione qui voluptas saepe doloribus porro aperiam omnis dicta!</div>
                </div>
            </div>
        </div>
        <div class='slide'>
            <div class='slide-container'>
                <div class='place-for-image'></div>
                <div class='text'>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem necessitatibus consequatur
                        ratione qui voluptas saepe doloribus porro aperiam omnis dicta!</div>
                </div>
            </div>
        </div>
        <div class='slide'>
            <div class='slide-container'>
                <div class='place-for-image'></div>
                <div class='text'>
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem necessitatibus consequatur
                        ratione qui voluptas saepe doloribus porro aperiam omnis dicta!</div>
                </div>
            </div>
        </div>
    </div>
</div>