<div class='header'></div>
<div class='component'>
    <div class='navbar'>
        <div><img src='../../assets/img/burger.svg'></div>
        <div><img src='../../assets/img/urfu-blue.svg'></div>
        <div><img src='../../assets/img/search.svg'></div>
        <div><p>оглавление</p></div>
    </div>
    <div class='content'>
        <div>
            <div class='dayradio'>
                <p>день</p>
                <p>радио</p>
            </div>
        </div>
        <div>
            <div class='oglav'>
                <div>Когда отгремят салюты</div>
                <div>3</div>
                <div>Lorem, ipsum.</div>
                <div>8</div>
                <div>Lorem, ipsum.</div>
                <div>13</div>
                <div>Lorem, ipsum.</div>
                <div>15</div>
                <div>Lorem, ipsum.</div>
                <div>17</div>
                <div>Lorem, ipsum.</div>
                <div>19</div>
            </div>
        </div>
    </div>
</div>