@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.header {
    height:34px;
    background:white;
    border:5px solid black;
    border-radius:10px;
    position:relative;
    z-index:2;
}

.component {
    font-family: 'Montserrat', sans-serif;
    margin-top:-10px;
    border:5px solid black;
    border-radius:0 0 10px 10px;
    height:100vh;
    background-size:cover;
    scroll-snap-align: start;
    text-align:center;
}

.navbar {
    display:grid;
    grid-template-columns: 5fr 2fr 1fr auto;
}

.navbar div:last-child {
    padding:0px 110px 0 110px;
}

.navbar div {
    border:2px solid black;
    height:127px;
    position: relative;
}

.navbar div:last-child p {
    text-transform: uppercase;
    font-size:40px;
    text-align:center;
}

.navbar div:first-child img {
    position:absolute;
    left:45px;
    top:45px;
}

.navbar div:nth-child(2) img {
    padding-top:25px;
}

.navbar div:nth-child(3) img {
    padding-top:45px;
}

.content {
    display:grid;
    grid-template-columns: 1.35fr 1fr;
}

.content > div:first-child {
    border:3px solid black;
    border-bottom:0;
}

.oglav {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:2em;
}

.oglav div:nth-child(2n + 1) {
    width:364px;
    margin-bottom:36px;
    font-size:38px;
    text-align:left;
}

.oglav div:nth-child(2n) {
    font-size:38px;
}

.oglav {
    box-sizing: border-box;
    padding:80px 60px 60px;
}

.dayradio {
    text-align:left;
    text-transform: uppercase;
    margin-left:90px;
}

.dayradio p:first-child {
    font-size:75px;
    text-indent: 13px;
}

.dayradio p:last-child {
    font-size:127px;
    font-weight:bold;
    margin-top:-85px;
}