<div class='component oglav-search'>
    <div class='navbar'>
        <div><img (click)="toAllMagazines()" src='assets/img/burger.svg'>
        </div>
        <div>
            <img src='assets/img/лого.png'>
        </div>
        <div>
            <img (click)="goToOglav()" class="search-icon" src='assets/img/search.svg'>
        </div>
        <div>
            <p>оглавление</p>
        </div>
    </div>
    <div class='content'>
        <div class='dayradio'>
            <p>{{nameFirst}}</p>
            <p>{{nameSecond}}</p>
        </div>
        <div class='oglav'>
            <div class="articles-number" *ngFor="let item of datas[0].articles">
                <div (click)="onClick(item.pages[0].number + 1)">{{item.name}}</div>
                <div (click)="onClick(item.pages[0].number + 1)">{{item.pages[0].number + 1}} — {{item.pages[item.pages.length - 1].number + 1}}</div>
            </div>
        </div>
    </div>
    <img (click)="scrollToTop()" class='arrow-up' src='assets/img/arrow-up.svg'>
</div>