<div class='component' id="{{number}}">
    <div class='navbar'>
        <div><img src='https://raw.githubusercontent.com/loozmax/RTF-NEWS/5cc984bbc4b4595fd9e12859d3710306c89f68fd/src/assets/img/burger.svg'></div>
        <div><img src='../../assets/img/лого.png'></div>
        <div><img src='https://raw.githubusercontent.com/loozmax/RTF-NEWS/5cc984bbc4b4595fd9e12859d3710306c89f68fd/src/assets/img/search.svg'></div>
        <div>
            <p [ngClass]='{"title-much-length": tooMuchLengthSize}'>{{title}}</p>
        </div>
    </div>
    <div class='content'>
        <div class='card__container'>
            <div class='card'>
                <div class='content__container front'>
                    <p [innerHtml]="nameString"></p>
                </div>
                <div class='content__container back'>
                    <img [src]="byteimage()" />
                </div>
            </div>
        </div>
    </div>
</div>