@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.component {
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 0 10px 10px;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
    text-align: center;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 7fr;
}


/* .navbar div:last-child {
    padding: 0px 40px 0 40px;
} */

.navbar div {
    border: 2px solid black;
    height: 100px;
    position: relative;
}

.navbar div:last-child p {
    text-transform: uppercase;
    font-size: 34px;
    text-align: center;
}

.navbar div:first-child img {
    position: absolute;
    left: 45px;
    top: 34px;
}

.navbar div:nth-child(2) img {
    padding-top: 15px;
}

.navbar div:nth-child(3) img {
    padding-top: 35px;
}


/*=============*/

.content {
    position: relative;
}

.front,
.back {
    position: absolute;
    width: 600px;
    height: 350px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: left;
    padding: 5px 10px 0 15px;
    font-size: 22px;
    transition: 1s;
    backface-visibility: hidden;
    background-color: #fff;
    cursor: pointer;
}

.content__container::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../../assets/img/arrowToRotateCard.svg') no-repeat;
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
}

.card__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.card {
    width: 600px;
    height: 350px;
    top: 70px;
    left: 90px;
    position: absolute;
    perspective: 1000px;
    /* border: 1px solid red; */
}

.back {
    transform: rotateY(180deg);
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(360deg);
}

.back img {
    border-radius: 10px;
    width: 600px;
    height: 350px;
}

@media screen and (max-width:376px) {
    .navbar div:first-child,
    .navbar div:nth-child(2) {
        display: none;
    }
    .navbar div:nth-child(3) {
        box-sizing: border-box;
    }
    .navbar div:nth-child(3) {
        width: 80px;
    }
    .navbar div:nth-child(4) {
        width: 295px;
        box-sizing: border-box;
    }
    .navbar div:nth-child(4) p {
        text-align: center;
        font-size: 25px;
        word-wrap: break-word;
    }
    .front,
    .back {
        width: 320px;
        font-size: 20px;
        height: auto;
    }
    .card {
        left: 13px;
        width: 320px;
    }
    .title-much-length {
        font-size: 23px;
        margin-top: 2px;
    }
}