@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.component {
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 0 10px 10px;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
    text-align: center;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 7fr;
}


/* .navbar div:last-child {
    padding: 0px 40px 0 40px;
} */

.navbar div {
    border: 2px solid black;
    height: 100px;
    position: relative;
}

.navbar div:last-child p {
    text-transform: uppercase;
    font-size: 34px;
    text-align: center;
}

.navbar div:first-child img {
    position: absolute;
    left: 45px;
    top: 34px;
    cursor: pointer;
}

.navbar div:nth-child(2) img {
    padding-top: 10px;
    width: 83px;
    height: 83px;
}

.navbar div:nth-child(3) img {
    padding-top: 35px;
}


/*=============*/

.content {
    position: relative;
}

.front,
.back {
    position: absolute;
    width: 600px;
    height: 350px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: left;
    /* padding: 5px 10px 0 15px; */
    font-size: 22px;
    transition: 1s;
    backface-visibility: hidden;
    background-color: #fff;
    cursor: pointer;
}

.front {
    padding: 5px 10px 0 15px;
    box-sizing: border-box;
}

.front::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../../assets/img/arrowToRotateCard.svg') no-repeat;
    bottom: 10px;
    right: 10px;
    transform: rotate(-180deg);
}

.rotate {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.front {
    overflow: hidden;
}

.card {
    width: 600px;
    height: 350px;
    top: 70px;
    left: 90px;
    position: absolute;
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform 1s;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(180deg);
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    /* margin-left: -18px; */
}

.back img {
    border-radius: 10px;
    width: 600px;
    height: 350px;
}

@media screen and (max-width:415px) {
    .navbar div:first-child,
    .navbar div:nth-child(2) {
        display: none;
    }
    .navbar div:nth-child(3) {
        box-sizing: border-box;
    }
    .navbar div:nth-child(3) {
        width: 100px;
    }
    .navbar div:nth-child(4) {
        width: 314px;
        box-sizing: border-box;
    }
    .navbar div:nth-child(4) p {
        text-align: center;
        font-size: 25px;
        word-wrap: break-word;
    }
    .front,
    .back {
        width: 350px;
        font-size: 20px;
        height: auto;
    }
    .card {
        left: 36px;
        top: 25px;
        width: 350px;
    }
    .title-much-length {
        font-size: 23px;
        margin-top: 2px;
    }
    .front::before {
        display: none;
    }
}

@media screen and (max-width:376px) {
    .navbar div:first-child,
    .navbar div:nth-child(2) {
        display: none;
    }
    .navbar div:nth-child(3) {
        box-sizing: border-box;
    }
    .navbar div:nth-child(3) {
        width: 80px;
    }
    .navbar div:nth-child(4) {
        width: 295px;
        box-sizing: border-box;
    }
    .navbar div:nth-child(4) p {
        text-align: center;
        font-size: 25px;
        word-wrap: break-word;
    }
    .front,
    .back {
        width: 320px;
        font-size: 20px;
        height: auto;
    }
    .card {
        top: 25px;
        /* left: 13px; */
        width: 320px;
    }
    .title-much-length {
        font-size: 23px;
        margin-top: 2px;
    }
    .front::before {
        display: none;
    }
}

@media screen and (max-width:376px) and (max-height: 670px) {
    .navbar div:first-child,
    .navbar div:nth-child(2) {
        display: none;
    }
    .navbar div:nth-child(3) {
        box-sizing: border-box;
    }
    .navbar div:nth-child(3) {
        width: 80px;
    }
    .navbar div:nth-child(4) {
        width: 295px;
        box-sizing: border-box;
    }
    .navbar div:nth-child(4) p {
        text-align: center;
        font-size: 25px;
        word-wrap: break-word;
    }
    .front,
    .back {
        width: 320px;
        font-size: 18px;
        height: auto;
    }
    .card {
        left: 29px;
        width: 320px;
    }
    .title-much-length {
        font-size: 23px;
        margin-top: 2px;
    }
    .front::before {
        display: none;
    }
}

@media screen and (max-width:321px) {
    .navbar div:first-child,
    .navbar div:nth-child(2) {
        display: none;
    }
    .navbar div:nth-child(3),
    .navbar div:nth-child(4) {
        box-sizing: border-box;
    }
    .navbar div:nth-child(3) {
        width: 80px;
    }
    .navbar div:nth-child(4) {
        width: 240px;
    }
    .navbar div:nth-child(4) p {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
        margin-left: -2px;
    }
    .navbar div:nth-child(4) .title-much-length {
        margin-top: 8px;
    }
    .front,
    .back {
        width: 300px;
        font-size: 16px;
        height: auto;
    }
    .card {
        top: 15px;
        left: 10px;
        width: 300px;
    }
    .title-much-length {
        font-size: 23px;
        margin-top: 2px;
    }
    .front::before {
        display: none;
    }
}