<div class='component' id="{{number}}">
    <div class='navbar'>
        <div (click)="toAllMagazines()"><img src='assets/img/burger.svg'></div>
        <div><img src='assets/img/лого.png'></div>
        <div><img (click)="goToOglav()" src='assets/img/search.svg'></div>
        <div>
            <p [ngClass]='{"title-much-length": tooMuchLengthSize}'>{{title}}</p>
        </div>
    </div>
    <div class='content'>

        <div class='card__container'>
            <div class='card' (click)="cardFlip()" [ngClass]="{'is-flipped': flip}">
                <div class='content__container front'>
                    <p [innerHtml]="nameString"></p>
                </div>
                <div class='content__container back'>
                    <img [src]="byteimage()" />
                </div>
            </div>
        </div>


    </div>
</div>