@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.wrapper {
    display:flex;
    height:100vh;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
    flex-wrap: wrap;
}


.wrapper > div {
    padding-top:70px;
    box-sizing:border-box;
    margin-top:200px;
    width:400px;
    height:200px;
    text-align: center;
    box-shadow:1px 1px 15px #000;
    border-radius:8px;
}

.wrapper > div a {
    text-decoration: none;
    color:#000;
    font-size:45px;
    text-transform: uppercase;
}

.wrapper img {
    position:absolute;
    top: 45px;
}