<div class='component'>
    <div class='navbar'>
        <div><img src='https://raw.githubusercontent.com/loozmax/RTF-NEWS/5cc984bbc4b4595fd9e12859d3710306c89f68fd/src/assets/img/burger.svg'></div>
        <div><img src='https://sun9-39.userapi.com/impf/u4Ue_qet2PGtWkpW-fhNTquOW8Iz28zou165Nw/XFoU1xYYDPM.jpg?size=81x77&quality=96&sign=1f07460f9ab90bd1d24dac353de966ed&type=album'></div>
        <div><img src='https://raw.githubusercontent.com/loozmax/RTF-NEWS/5cc984bbc4b4595fd9e12859d3710306c89f68fd/src/assets/img/search.svg'></div>
        <div><p>когда отгремят салюты</p></div>
    </div>
    <div class='content'>

        <div class='content__container'>
            <div class='card'>
                <div class='card__block card__front'>
                    <p>Во время запуска фейерверка в воздухе рассеиваются частицы различных химических веществ, которые затем просачиваются в почву и загрязняют...</p>
                </div>
                <div class='card__block card__back'>
                    <p>???</p>
                </div>
            </div>
            <div class='card'>
                <div class='card__block card__front'>
                    <p>Хотя подобного рода шоу проходят не часто, их влияние на здоровье человека неизменно. Токсичные смеси постепенно загрязняют водоёмы, землю...</p>
                </div>
                <div class='card__block card__back'>
                    <p>???</p>
                </div>
            </div>
            <div class='card'>
                <div class='card__block card__front'>
                    <p>Страшная история произошла в канун Нового 2010 года в городе Биб, штат Арканзас: были найдены мертвыми тысячи птиц. Американские...</p>
                </div>
                <div class='card__block card__back'>
                    <p>???</p>
                </div>
            </div>
        </div>

    </div>
</div>