@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.component {
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 0 10px 10px;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
    text-align: center;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 7fr;
}


/* .navbar div:last-child {
    padding: 0px 40px 0 40px;
} */

.navbar div {
    border: 2px solid black;
    height: 100px;
    position: relative;
}

.navbar div:last-child p {
    text-transform: uppercase;
    font-size: 34px;
    text-align: center;
}

.navbar div:first-child img {
    position: absolute;
    left: 45px;
    top: 34px;
    cursor: pointer;
}

.navbar div:nth-child(2) img {
    padding-top: 10px;
    width: 83px;
    height: 83px;
}

.navbar div:nth-child(3) img {
    padding-top: 35px;
}


/* =============== */

.content__container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.card {
    width: 350px;
    height: 300px;
    position: relative;
    perspective: 1000px;
    border: 1px solid #fff;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform 1s;
}

.card__front,
.card__back {
    margin-top: 40px;
    border-radius: 10px;
    border: 3px solid #000;
    position: absolute;
    width: 350px;
    height: 450px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    background-color: #fff;
    cursor: pointer;
}

.card__back {
    transform: rotateY(180deg);
    /* margin-left: -40px; */
}

.card__back img {
    width: 350px;
    height: 450px;
    border-radius: 10px;
}

.card__front::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../../assets/img/arrowToRotateCard.svg') no-repeat;
    bottom: 10px;
    right: 10px;
}

.control_panel {
    display: none;
}

.content__container.mobile {
    display: none;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

@media screen and (max-width:415px) {
    .content__container.mobile,
    .control_panel {
        display: block;
    }
    .navbar div:first-child,
    .navbar div:nth-child(2) {
        display: none;
    }
    .navbar div:nth-child(3) {
        box-sizing: border-box;
    }
    .navbar div:nth-child(3) {
        width: 100px;
    }
    .navbar div:nth-child(4) {
        width: 314px;
        box-sizing: border-box;
    }
    .navbar div:nth-child(4) p {
        text-align: center;
        font-size: 25px;
        word-wrap: break-word;
    }
    .title-much-length {
        margin-top: 2px;
        font-size: 23px;
    }
    .content__container.web {
        display: none;
    }
    .content__container.mobile .mob {
        display: block;
        margin-top: 30px;
        margin-right: 55px;
    }
    .control_panel {
        position: absolute;
        z-index: 5;
        left: 45%;
        padding-top: 10px;
        /* margin-right: 20px; */
        /* text-align: center; */
    }
    .control_panel span {
        border-radius: 50%;
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 0 2px;
        background-color: #ddd;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .control_panel span.active {
        background-color: #000;
    }
    .content__container.mobile .card.mob {
        display: none;
        margin-left: 29px;
    }
    .content__container.mobile .card.mob.active {
        display: block;
    }
    .card__front::before {
        display: none;
    }
}

@media screen and (max-width:376px) {
    .content__container.mobile,
    .control_panel {
        display: block;
    }
    .navbar div:first-child,
    .navbar div:nth-child(2) {
        display: none;
    }
    .navbar div:nth-child(3) {
        box-sizing: border-box;
    }
    .navbar div:nth-child(3) {
        width: 80px;
    }
    .navbar div:nth-child(4) {
        width: 295px;
        box-sizing: border-box;
    }
    .navbar div:nth-child(4) p {
        text-align: center;
        font-size: 25px;
        word-wrap: break-word;
    }
    .title-much-length {
        margin-top: 2px;
        font-size: 23px;
    }
    .content__container.web {
        display: none;
    }
    .content__container.mobile .mob {
        display: block;
        margin-top: 30px;
        margin-right: 55px;
    }
    .control_panel {
        position: absolute;
        z-index: 5;
        left: 45%;
        padding-top: 10px;
        /* margin-right: 20px; */
        /* text-align: center; */
    }
    .control_panel span {
        border-radius: 50%;
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 0 2px;
        background-color: #ddd;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .control_panel span.active {
        background-color: #000;
    }
    .content__container.mobile .card.mob {
        display: none;
        margin-left: 9px;
    }
    .content__container.mobile .card.mob.active {
        display: block;
    }
    .card {
        padding-left: 5px;
    }
    .card__front::before {
        display: none;
    }
}

@media screen and (max-width:321px) {
    .navbar div:first-child,
    .navbar div:nth-child(2) {
        display: none;
    }
    .navbar div:nth-child(3),
    .navbar div:nth-child(4) {
        box-sizing: border-box;
    }
    .navbar div:nth-child(3) {
        width: 80px;
    }
    .navbar div:nth-child(4) {
        width: 240px;
    }
    .navbar div:nth-child(4) p {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
        margin-left: -2px;
    }
    .navbar div:nth-child(4) .title-much-length {
        margin-top: 8px;
    }
    .title-much-length {
        margin-top: 2px;
        font-size: 23px;
    }
    .content__container.web {
        display: none;
    }
    .content__container.mobile .mob {
        display: block;
        margin-top: 30px;
        margin-right: 55px;
    }
    .control_panel {
        position: absolute;
        z-index: 5;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 10px;
        /* margin-right: 20px; */
        /* text-align: center; */
    }
    .control_panel span {
        border-radius: 50%;
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 0 2px;
        background-color: #ddd;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .control_panel span.active {
        background-color: #000;
    }
    .content__container.mobile .card.mob {
        display: none;
        margin-left: 9px;
    }
    .content__container.mobile .card.mob.active {
        display: block;
    }
    .card__front,
    .card__back {
        width: 290px;
        height: auto;
    }
    .card__back img {
        width: 290px;
        height: auto;
    }
    .card__front::before {
        display: none;
    }
    .card__back {
        left: 58px;
    }
}