<div class='header'></div>
<div class='component'>
    <div class='navbar'>
        <div><img src='../../assets/img/burger.svg'></div>
        <div><img src='../../assets/img/urfu-blue.svg'></div>
        <div><img src='../../assets/img/search.svg'></div>
        <div><p>когда отгремят салюты</p></div>
    </div>
    <div class='content'>
        <div class='container'>
            <div><p>Во время запуска фейерверка в воздухе рассеиваются частицы различных химических веществ, которые затем просачиваются в почву и загрязняют...</p></div>
            <div><p>Хотя подобного рода шоу проходят не часто, их влияние на здоровье человека неизменно. Токсичные смеси постепенно загрязняют водоёмы, землю...</p></div>
            <div><p>Страшная история произошла в канун Нового 2010 года в городе Биб, штат Арканзас: были найдены мертвыми тысячи птиц. Американские...</p></div>
        </div>
    </div>
</div>