<div class='component'>
    <div class='navbar'>
        <div><img src='assets/img/burger.svg'></div>
        <div><img src='assets/img/лого.png'></div>
        <div><img src='assets/img/search.svg'></div>
        <div>
            <p>Lorem ipsum dolor, sit amet</p>
        </div>
    </div>
    <div class='content'>
        <div>
            <h1>Lorem, ipsum dolor.</h1>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ad sint, voluptate ab harum iste
            aspernatur voluptatibus atque explicabo quo a laboriosam autem nemo deleniti! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Voluptatem molestias repudiandae architecto cumque magnam quisquam inventore
            eum unde saepe! Eos aut facilis tempora corporis quo doloremque quae quas fugit quis.
        </div>
        <div>
            <h1>Lorem, ipsum dolor.</h1>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ad sint, voluptate ab harum iste
            aspernatur voluptatibus atque explicabo quo a laboriosam autem nemo deleniti! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Voluptatem molestias repudiandae architecto cumque magnam quisquam inventore
            eum unde saepe! Eos aut facilis tempora corporis quo doloremque quae quas fugit quis.
        </div>
        <div>
            <h1>Lorem, ipsum dolor.</h1>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ad sint, voluptate ab harum iste
            aspernatur voluptatibus atque explicabo quo a laboriosam autem nemo deleniti! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Voluptatem molestias repudiandae architecto cumque magnam quisquam inventore
            eum unde saepe! Eos aut facilis tempora corporis quo doloremque quae quas fugit quis.
        </div>
        <div>
            <h1>Lorem, ipsum dolor.</h1>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ad sint, voluptate ab harum iste
            aspernatur voluptatibus atque explicabo quo a laboriosam autem nemo deleniti! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Voluptatem molestias repudiandae architecto cumque magnam quisquam inventore
            eum unde saepe! Eos aut facilis tempora corporis quo doloremque quae quas fugit quis.
        </div>
    </div>
</div>