<div class='component' id='numbers'>
    <div class='navbar'>
        <div><img src='https://raw.githubusercontent.com/loozmax/RTF-NEWS/5cc984bbc4b4595fd9e12859d3710306c89f68fd/src/assets/img/burger.svg'></div>
        <div><img src='https://sun9-39.userapi.com/impf/u4Ue_qet2PGtWkpW-fhNTquOW8Iz28zou165Nw/XFoU1xYYDPM.jpg?size=81x77&quality=96&sign=1f07460f9ab90bd1d24dac353de966ed&type=album'></div>
        <div><img src='https://raw.githubusercontent.com/loozmax/RTF-NEWS/5cc984bbc4b4595fd9e12859d3710306c89f68fd/src/assets/img/search.svg'></div>
        <div><p>когда отгремят салюты</p></div>
    </div>
    <div class='content'>
        <div class='content__numbers'>
            <p>цифры</p>
        </div>
        <div class='content__table'>
            <div>
                <p>После взрыва пиротехники выделяется углекислый газ. Например, в США после Дня Независимости его количество в атмосфере составило 50 тысяч тонн, что можно приравнять к выбросам этого газа во время лесных пожаров более чем на 1000 гектарах земли!</p>
            </div>
            <div>
                <p>В Минске в ночь на первое января 2019 года от взрывов пиротехники пострадали 27 человек. И это только люди с видимыми повреждениями. </p>
            </div>
            <div>
                <p>По данным федерального ведомства по охране окружающей среды, ежегодно немцы тратят от 100 до 150 миллионов евро на фейерверки. Данное количество пиротехники суммарно приводит к выбросу в атмосферу до 4500 тонн мелкодисперсной пыли.</p>
            </div>
        </div>
    </div>
</div>