@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.component {
    font-family: 'Montserrat', sans-serif;
    border-radius:0 0 10px 10px;
    height:100vh;
    background-size:cover;
    scroll-snap-align: start;
    text-align:center;
}

.navbar {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 7fr;
}

.navbar div:last-child {
    padding:0px 40px 0 40px;
}

.navbar div {
    border:2px solid black;
    height:100px;
    position: relative;
}

.navbar div:last-child p {
    text-transform: uppercase;
    font-size:34px;
    text-align:center;
}

.navbar div:first-child img {
    position:absolute;
    left:45px;
    top:34px;
}

.navbar div:nth-child(2) img {
    padding-top:15px;
}

.navbar div:nth-child(3) img {
    padding-top:35px;
}

/*=============*/

.content__numbers {
    background: #0C68B0;
    height:110px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.content__numbers p {
    color: #fff;
    font-size:40px;
    margin:0;
    text-transform: uppercase;
}

.content__table {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content__table div {
    border:1px solid #000;
    height:509px;
}

.content__table div p {
    font-size:30.5px;
    text-align:left;
    padding:0 30px 0 30px;
}