<form class="main" (ngSubmit)="sumbit()">
    <span (click)="closeModalView()" class="close">закрыть</span>
    <div class='container'>
        <label>Название выпуска</label>
        <input name="nameNewspaper" [(ngModel)]="nameNewspaper">
        <div *ngFor="let item of dataArray; let i = index">
            <div class="articles">
                <div>
                    <label>Автор</label>
                    <input name="author{{i}}" [(ngModel)]="item.author">
                </div>

                <div>
                    <label>Название статьи</label>
                    <input name="title{{i}}" [(ngModel)]="item.title">
                </div>

                <div class="articles__item" *ngFor="let itm of item.pages; let m = index">
                    <div>
                        <label>Макет</label>
                        <input name="maket{{m}}" [(ngModel)]="itm.maket">
                    </div>

                    <div>
                        <label>Текст</label>
                        <input name="text{{m}}" [(ngModel)]="itm.text">
                    </div>
                    <span (click)="addPage(i)">Добавить страницу</span>
                </div>
            </div>
        </div>
        <span (click)="addForm()">[+]</span>
        <button>Отправить</button>
    </div>
</form>