<form class="main" (ngSubmit)="sumbit()">
    <cdk-virtual-scroll-viewport itemSize="100">
        <span (click)="closeModalView()" class="close">X</span>
        <div class='container'>
            <label>Название выпуска</label>
            <input type="text" name="nameNewspaper" [(ngModel)]="nameNewspaper">
            <div *ngFor="let item of dataArray; let i = index">
                <div class="articles">
                    <div>
                        <label>Автор</label>
                        <input type="text" name="author{{i}}" [(ngModel)]="item.author">
                    </div>

                    <div>
                        <label>Название статьи</label>
                        <input type="text" class="nameArticle" name="title{{i}}" [(ngModel)]="item.title">
                    </div>

                    <div class="articles__item" *ngFor="let itm of item.pages; let m = index">
                        <div>
                            <label>Макет</label>
                            <input type="text" name="maket{{m}}" [(ngModel)]="itm.maket">
                        </div>

                        <div>
                            <label>Текст</label>
                            <input type="text" name="text{{m}}" [(ngModel)]="itm.text">
                        </div>
                        <span class='more-pages' (click)="addPage(i)">Добавить страницу</span>
                    </div>
                </div>
            </div>
            <span class='more-articles' (click)="addForm()">Добавить статью</span>
            <button class='create'>Отправить</button>
        </div>
    </cdk-virtual-scroll-viewport>
</form>