@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.component {
    font-family: 'Montserrat', sans-serif;
    border-radius:0 0 10px 10px;
    height:100vh;
    background-size:cover;
    scroll-snap-align: start;
    text-align:center;
}

.navbar {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 7fr;
}

.navbar div:last-child {
    padding:0px 40px 0 40px;
}

.navbar div {
    border:2px solid black;
    height:100px;
    position: relative;
}

.navbar div:last-child p {
    text-transform: uppercase;
    font-size:34px;
    text-align:center;
}

.navbar div:first-child img {
    position:absolute;
    left:45px;
    top:34px;
}

.navbar div:nth-child(2) img {
    padding-top:15px;
}

.navbar div:nth-child(3) img {
    padding-top:35px;
}

/*================*/

.content {
    display:grid;
    grid-template-columns: 7fr auto;
    background-color: #0C68B0;
    color: #fff;
}

/* ------------------- */

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 105px);
}

.container p {
    width:712px;
    height:203px;
    font-size:28px;
    margin: 0;
}