<div class='component' id="{{number}}">
    <div class='navbar'>
        <div (click)="toAllMagazines()">
            <img src='assets/img/burger.svg'></div>
        <div><img src='assets/img/лого.png'></div>
        <div><img (click)="goToOglav()" src='assets/img/search.svg'></div>
        <div>
            <p [ngClass]='{"title-much-length": tooMuchLengthSize}'>{{title}}</p>
        </div>
    </div>
    <div class='content'>
        <div class='container'>
            <!-- <img class="img1" [src]="byteimage" /> -->
            <p [innerHtml]="nameString"></p>
            <!-- <img class="img2" [src]="byteimage" /> -->
        </div>
    </div>
</div>