<div class='header'></div>
<div class='component'>
    <div class='navbar'>
        <div><img src='../../assets/img/burger.svg'></div>
        <div><img src='../../assets/img/urfu-blue.svg'></div>
        <div><img src='../../assets/img/search.svg'></div>
        <div><p>когда отгремят салюты</p></div>
    </div>
    <div class='content'>
        <div class='container'>
            <p>Давайте разбираться. Вещества, входящие в состав пиротехнических смесей, небезопасны — их вред был доказан в ходе нескольких научных исследований.</p>
        </div>
    </div>
</div>