<div class='component'>
    <div class='navbar'>
        <div><img src='https://raw.githubusercontent.com/loozmax/RTF-NEWS/5cc984bbc4b4595fd9e12859d3710306c89f68fd/src/assets/img/burger.svg'></div>
        <div><img src='https://sun9-39.userapi.com/impf/u4Ue_qet2PGtWkpW-fhNTquOW8Iz28zou165Nw/XFoU1xYYDPM.jpg?size=81x77&quality=96&sign=1f07460f9ab90bd1d24dac353de966ed&type=album'></div>
        <div><img src='https://raw.githubusercontent.com/loozmax/RTF-NEWS/5cc984bbc4b4595fd9e12859d3710306c89f68fd/src/assets/img/search.svg'></div>
        <div><p>{{title}}</p></div>
    </div>
    <div class='content'>
        <div class='container'>
            <div class='dayradio'>
               
            </div>
            <div class='oglav'>
               <h1>здесь что-то нужно??? </h1>
               <p [innerHtml]="nameString"></p>
                <div>
                    <p><a href='#numbers'>цифры</a></p>
                </div>
            </div>
        </div>
    </div>
</div>