<div class='header'></div>
<div class='component'>
    <div class='navbar'>
        <div><img src='../../assets/img/burger.svg'></div>
        <div><img src='../../assets/img/urfu-blue.svg'></div>
        <div><img src='../../assets/img/search.svg'></div>
        <div><p>когда отгремят салюты</p></div>
    </div>
    <div class='content'>
        <div class='container'>
            <div class='dayradio'>
               
            </div>
            <div class='oglav'>
               <h1>Какой выход?</h1>
               <p>Есть ли экологически чистая альтернатива фейерверкам? При необходимости создать красочное шоу с огнями в небе можно и без запуска опасных химических веществ в воздух — для этого используют, например, лазеры. Пиротехническое шоу также можно заменить представлением с использованием огромных голограмм, проецируемых на фасады зданий. Экологи уверены, что это отличный вариант для создания отличного настроения без применения огнеопасных и вредных фейерверков.</p>
            </div>
        </div>
    </div>
</div>